body{background:#f9f9f9;font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;font-size: 14px;}
.header{background: #333; padding:0 20px;color: #ccc; height: 50px; line-height: 50px; width: 100%}
.headerCon{width: 1200px; margin:auto; }
.fr{ float: right;}
.mb{ margin-bottom: 10px}
.header a{color: #6b6b6b; cursor: pointer;}
.header .fr{ font-size: 12px}

.main{width: 1200px; margin:auto;}
h2{font-size: 18px; margin: 20px 0}
h3{ font-size: 14px; margin: 0 0 15px 0; padding: 10px; background:#337ab7; color: #def0ff; border-radius: 4px}
h3 i{cursor: pointer;; color: #fff}

.main .col-md-4:nth-of-type(1){ padding: 0 20px 0 0;}
.main .col-md-4:nth-of-type(2){ padding: 0}
.main .col-md-4:nth-of-type(3){ padding: 0 0 0 20px}
.con{background: #fff; border: 1px solid #ddd; padding: 15px;height: 718px; overflow-y: auto}
.main .col-md-4:nth-of-type(1) .con{border-top: 0;}
.main .col-md-4:nth-of-type(3) h3{border-radius: 4px 4px 0 0 ;margin: 0; padding: 14px 10px 13px 10px}

.show{background: #fff; border: 1px solid #ddd; height: 705px; overflow-x: hidden;overflow-y: auto; position: relative; border-bottom: 0}
.show h2,.show h4{ text-align: center; margin: 15px 0;}
.show h2{ font-size: 18px}
.show h4{ font-size: 14px}
.show .form-group{ padding:0}
.btnBox{padding: 10px; background: #f2f2f2; width: 400px; border: 1px solid #ddd; border-top: 0}

.con button{}
.show>.form-group:hover{ border: 1px dashed #c0c0c0}
.show>.form-group{
    position: relative;
    cursor: move;
}
.show>.form-group .close{
    display: none;
}

.styleChose{
    padding-bottom:5px ;
    border-bottom: 1px dashed #c0c0c0;
    margin-bottom: 10px;
}

.jsCode{
    display: none;
}

.styleNav{
    margin-bottom: 10px;
}

.styleNav li{
    cursor: pointer;
}

.title{
    display: none;
}

.title em{
    font-style: normal;
}

.title1{
    display: block;
}

.formLabel{
    margin-top:6px;
}

.choose{
    text-align: center;
    margin:0 auto 20px auto;
    font-size: 14px;
    padding: 20px;
    border:1px dashed #c0c0c0;
}

.closeLine2{
    padding-right: 15px;
    /*display: none;*/
    height: 20px;
}

.close2{
    position: relative;
    z-index: 9999;
}

.close{
    position: relative;
    z-index: 99999;
}

.closeLine{
    padding-right: 15px;
    margin-bottom: 40px;
    display: none;
}

.dum3{
    display: none;
}

.dum4{
    display: none;
}

#fields{

}

.banner{

}

.banner>img{
    flex: 1;
    display:inline-block;
}

.share .text-black{
    position: relative;
    bottom: -5px;
}

.share .text-muted{
    position: relative;
    top: -5px;
}

#mobile {

}

.wrap{

}

.wrap>.text-center{
    padding: 0 !important;

}

.room{
    padding: 0 15px !important;
}

.space{

    overflow-y: auto;
}

.groupT>div{
    border-bottom:1px dashed #c0c0c0;
}

#edit>div{
    border-bottom:1px dashed #c0c0c0;
}
#edit>div.con{
    border-bottom:1px solid #ccc;
}
#edit>div.checkbox{
    border-bottom: 0;
}

.plusMinus{
    text-align: right;
}


.formCon .row{ float: left; margin:0 10px 0 0}


.clean{ clear: both;}
hr.clean{ margin: 15px 0}
.formCon{ overflow: hidden;}
.con .checkbox, .con .radio{ margin: 0}
.checkbox label.checkbox-block{margin:5px 0; display: block;}

.chosen{
    background: white;
    height: 718px;
    overflow-y: auto;
}

.trees>.checkbox{
    /*display: none;*/
}

.trees>.theCon{
    display: none ;
}

.trees h4{
    font-weight: 700;
    font-size: 14px;
}

.rich{
    padding-top:10px;
}

#editor {
    overflow:scroll;
    height:300px;
}

